*{
  margin: 0px;
  padding: 0px;
}

:root{
   --bg-color: #1f242d;
  --second-bg-color: #323946;
  --second-text-color: #c0b9b9;
  --text-color: #fff;
  --main-color: #0ef; 
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 8px;
}


/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */