.Projects {
  height: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;
  /* margin-top: 120px; */
}

.Projects .title {
  font-size: 36px;
  color: var(--main-color);
  font-family: monospace;
}

.Projects .data{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
 
.Projects .site{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
 
.Projects .about{
    width: 30%;
}

.Projects .name{
    font-size: 35px;
    background: linear-gradient(to right, rgb(118, 168, 237), rgb(0, 238, 255));
    background-clip: text;
    color: transparent;
}

.Projects .information{
    font-size: 18px;
    line-height: 30px;
    color: var(--text-color);
}

.Projects .link{
    width: 40%; 
}

.Projects .image{
    width: 100%; 
    box-shadow: 5px 5px 13px var(--main-color);
    transition-duration: 0.4s;
    cursor: pointer;
}


.Projects .image:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.button-link{
    display: none;
}



@media (width < 1360px){
    .Projects .data{
        width: 80%;
    }
}



@media (width < 1200px){
    .Projects .data{
        width: 90%;
    }
    .Projects .about{
        width: 40%;
    }
}


@media (width < 1000px){
    .Projects .site{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        box-shadow: 5px 5px 8px var(--main-color);
        height: 500px;
        width: 400px;
        gap: 10px;
        transition-duration: 0.3s;
    }
    .Projects .site:hover{
        transform: translateY(-30px);
        transition-duration: 0.3s;
    }
    .Projects .information{
        /* display: none; */
        text-align: center;
        color: var(--second-text-color);
        padding: 4px;
    }

    .Projects .link{
        width: 100%;
    }

    .Projects .image{
        width: 100%; 
        box-shadow:none;
        cursor: pointer;
        opacity: 0.5;
    } 
    .Projects .image:hover{
        transform: scale(1);
    }
    .Projects .data{
        flex-direction: row;
    }
    .Projects .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 100%;
    }
    .button-link{
        display: block;
        text-decoration: unset;
        color: var(--text-color);
        background-color: var(--second-bg-color);
        width: 100px;
        padding: 10px;
        border-radius: 8px;
        font-size: 20px;
    }
}


@media (width < 760px){
    .Projects .data{
        flex-direction: column;
        align-items: center;
    }

    .Projects{
        height: 1200px;
    }
}

